
<div>

    @*<form action="/Empleado/CrearConRequest" method="post">*@
    @*<form action="/Empleado/CrearConFormCollection" method="post">*@

    <form action="/Alimento/Crear" method="post">
        Nombre: <input type="text" name="Nombre" />
        Peso: <input type="text" name="Peso" />

        <input type="submit" value="Crear" />
    </form>
</div>

