
<div>
    <form action="/Alimento/Modificar" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        Nombre: <input type="text" name="Nombre" value="@Model.Nombre" />
        Peso: <input type="text" name="Peso" value="@Model.Peso" />

        <input type="submit" value="Guardar" />
    </form>
</div>

