@{
    ViewBag.Title = "Bienvenido";
}
<div>
    <h1>BIENVENIDO!!</h1>
    Lista de urls:
    <ul>
        <li>
            <a href="/Bienvenido">/Bienvenido</a>
        </li>
        <li>
            <a href="/Bienvenido/Index">/Bienvenido/Index</a>
        <li>
            <a href="/BienvenidoController/Index">/BienvenidoController/Index</a>
        </li>
        <li>
            <a href="/Index">/Index</a>
        </li>
        <li>
            <a href="/Bienvenido/Index/1">/Bienvenido/Index/1</a>
        </li>
    </ul>
</div>